<!-- wellcome to {{title}} {{user}}
<br>
{{product1.productName}}  html'ler kendi componentindeki tüm değişkenleri tanıyor. JS' case sensitive.

built-in : angular içinde hali hazırda gelen. ama ilerleyen zamanda kendi direktivelerimiz olacak. app içindeki klasöre koyacağız
<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul>

 *ngFor = angulr için önemli bir ifade. "directive" deniyor. directive: ilgili html etiketini manipule etmemize yarıyor. ngFor; ilgli html 
etiketini tekrarla demek. ngFor, açılış kapanış tagını for döngüsünün parantezi olarak görüyor --*ngFor="let product of products" foreach
döngüsü. let ise bildiğin let. --> 

<app-navi></app-navi>
<app-category></app-category>
<app-product></app-product>
<router-outlet></router-outlet>  <!--bunu silersek çalışmaz-->